@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --radius-sm: 0.225rem;
  --radius-md: 0.425rem;
  --radius-lg: 0.625rem;
  --radius-xl: 1.025rem;
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;
  --color-popover: #ffffff;
  --color-popover-foreground: #0a0a0a;
  --color-primary: #171717;
  --color-primary-foreground: #fafafa;
  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #171717;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;
  --color-accent: #f5f5f5;
  --color-accent-foreground: #171717;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ef4444;
  --color-border: #e5e5e5;
  --color-input: #e5e5e5;
  --color-ring: #a3a3a3;
  --color-chart-1: #e76e50;
  --color-chart-2: #2a9d90;
  --color-chart-3: #274754;
  --color-chart-4: #e9c46a;
  --color-chart-5: #f4a462;
  --color-sidebar: #fafafa;
  --color-sidebar-foreground: #0a0a0a;
  --color-sidebar-primary: #171717;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #f5f5f5;
  --color-sidebar-accent-foreground: #171717;
  --color-sidebar-border: #e5e5e5;
  --color-sidebar-ring: #a3a3a3;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;
}

@keyframes accordion-down {
  0% { height: 0; }
  100% { height: var(--radix-accordion-content-height); }
}

@keyframes accordion-up {
  0% { height: var(--radix-accordion-content-height); }
  100% { height: 0; }
}

@keyframes caret-blink {
  0%, 70%, 100% { opacity: 1; }
  20%, 50% { opacity: 0; }
}

@keyframes enter {
  0% {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0));
  }
}

@keyframes exit {
  100% {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0));
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
  .animate-in {
    animation-name: enter;
    animation-duration: 150ms;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }
  .animate-out {
    animation-name: exit;
    animation-duration: 150ms;
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
  }
  .fade-in-0 { --tw-enter-opacity: 0; }
  .fade-in { --tw-enter-opacity: 0; }
  .fade-out-0 { --tw-exit-opacity: 0; }
  .fade-out { --tw-exit-opacity: 0; }
  .zoom-in-90 { --tw-enter-scale: .9; }
  .zoom-in-95 { --tw-enter-scale: .95; }
  .zoom-out-95 { --tw-exit-scale: .95; }
  .slide-in-from-top-2 { --tw-enter-translate-y: -0.5rem; }
  .slide-in-from-bottom-2 { --tw-enter-translate-y: 0.5rem; }
  .slide-in-from-left-2 { --tw-enter-translate-x: -0.5rem; }
  .slide-in-from-right-2 { --tw-enter-translate-x: 0.5rem; }
  .slide-in-from-left-52 { --tw-enter-translate-x: -13rem; }
  .slide-in-from-right-52 { --tw-enter-translate-x: 13rem; }
  .slide-out-to-right-52 { --tw-exit-translate-x: 13rem; }
  .slide-out-to-left-52 { --tw-exit-translate-x: -13rem; }
}
