@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --radius-sm: 0.225rem;
  --radius-md: 0.425rem;
  --radius-lg: 0.625rem;
  --radius-xl: 1.025rem;
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-card: #ffffff;
  --color-card-foreground: #0a0a0a;
  --color-popover: #ffffff;
  --color-popover-foreground: #0a0a0a;
  --color-primary: #171717;
  --color-primary-foreground: #fafafa;
  --color-secondary: #f5f5f5;
  --color-secondary-foreground: #171717;
  --color-muted: #f5f5f5;
  --color-muted-foreground: #737373;
  --color-accent: #f5f5f5;
  --color-accent-foreground: #171717;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ef4444;
  --color-border: #e5e5e5;
  --color-input: #e5e5e5;
  --color-ring: #a3a3a3;
  --color-chart-1: #e76e50;
  --color-chart-2: #2a9d90;
  --color-chart-3: #274754;
  --color-chart-4: #e9c46a;
  --color-chart-5: #f4a462;
  --color-sidebar: #fafafa;
  --color-sidebar-foreground: #0a0a0a;
  --color-sidebar-primary: #171717;
  --color-sidebar-primary-foreground: #fafafa;
  --color-sidebar-accent: #f5f5f5;
  --color-sidebar-accent-foreground: #171717;
  --color-sidebar-border: #e5e5e5;
  --color-sidebar-ring: #a3a3a3;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
